In [1]:
from datetime import datetime, timedelta
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import get_dados as gd

In [3]:
con = sqlite3.connect("dados_varias_coin.db")
bot_id = 1
df_bot_1 = pd.read_sql_query(f'SELECT * from operacoes_bot WHERE bot_id =={bot_id};', con)
bot_id = 2
df_bot_2 = pd.read_sql_query(f'SELECT * from operacoes_bot WHERE bot_id =={bot_id};', con)
bot_id = 9
df_bot_9= pd.read_sql_query(f'SELECT * from operacoes_bot WHERE bot_id =={bot_id};', con)
con.close()

In [4]:
con = sqlite3.connect("dados_varias_coin.db")
ls_bot = pd.read_sql_query(f'SELECT * from bot;', con)
ls_bot

,id,coin,qnt_brl_inicial,qnt_coin,qnt_brl_atual,grid_valor,limite_inferior,limite_superior,qnt_trade
0,1,XRP,20.0,2.490250,16.636127,0.06,1.90,3.1,0.50
1,2,XRP,20.0,0.996100,19.740022,0.04,2.25,2.7,0.50
2,3,USDC,50.0,0.992200,44.642416,0.04,5.00,5.7,1.03
3,4,USDC,50.0,3.077949,33.084539,0.04,5.00,5.8,1.03
4,5,XRP,20.0,0.000000,20.000000,0.04,3.10,4.2,1.00
5,6,XRP,40.0,1.992200,33.254400,0.04,2.70,4.2,1.00
6,7,XRP,40.0,0.000000,40.000000,0.04,2.70,4.2,1.00
7,8,XRP,40.0,0.996100,36.657900,0.04,2.70,4.2,1.00
8,9,XRP,40.0,5.976600,25.067938,0.04,2.70,4.2,1.00

In [5]:
(3.1 - 1.90) * 8

9.600000000000001

In [6]:
ultimo_valor_negociado = gd.get_ultimo_gravado("XRP")[5]

In [7]:
# df_bot_1.head()
df_bot_1

,id,bot_id,estado_ordem,v_tag_ordem,valor_compra,qnt_comprada,order_compra_id,time_compra,valor_venda,qnt_vendida,order_venda_id,time_venda,lucro,fee
0,5,1,finalizada,2.32,2.32928,0.5,40037174,1612711293,2.3857000599999996,0.49805,40227347.0,1.612793e+09,None,None
1,8,1,finalizada,2.38,2.37378,0.5,40056634,1612603061,2.4301435700000003,0.49805,40057510.0,1.612625e+09,None,None
2,12,1,finalizada,2.38,2.38952,0.5,40092337,1612626482,2.4458600500000003,0.49805,40096034.0,1.612628e+09,None,None
3,13,1,finalizada,2.44,2.42197,0.5,40093902,1612625810,2.47826157,0.49805,40094249.0,1.612844e+09,None,None
4,18,1,finalizada,2.38,2.38952,0.5,40098885,1612643602,2.4458600500000003,0.49805,40125459.0,1.612844e+09,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,654,1,venda_criada,2.92,2.93168,0.5,48783749,1616307575,2.99168,0.49805,48795828.0,1.616308e+09,None,None
178,659,1,compra_criada,2.74,2.75096,0.5,48838000,1616324666,2.81096,0.5,NaN,NaN,None,None
179,662,1,finalizada,2.8,2.8112,0.5,48840759,1616330626,2.86691,0.49805,48846435.0,1.616332e+09,None,None
180,664,1,finalizada,2.8,2.8112,0.5,48849532,1616332195,2.86691,0.49805,48850848.0,1.616333e+09,None,None
181,666,1,venda_criada,2.8,2.8112,0.5,48852523,1616337821,2.8712,0.49805,48861091.0,1.616338e+09,None,None

In [8]:
len(df_bot_2)
df_bot_2

,id,bot_id,estado_ordem,v_tag_ordem,valor_compra,qnt_comprada,order_compra_id,time_compra,valor_venda,qnt_vendida,order_venda_id,time_venda,lucro,fee
0,6,2,finalizada,2.33,2.33932,0.5,40037186,1612610214,2.37576494,0.49805,40069395.0,1.612612e+09,None,None
1,7,2,finalizada,2.37,2.37948,0.5,40055903,1612602611,2.41585494,0.49805,40056464.0,1.612624e+09,None,None
2,9,2,finalizada,2.65,2.37184,0.5,40060080,1612605900,2.40822635,0.49805,40060805.0,1.612624e+09,None,None
3,10,2,finalizada,2.33,2.33932,0.5,40073274,1612711280,2.37576494,0.49805,40227223.0,1.612793e+09,None,None
4,11,2,finalizada,2.41,2.40436,0.5,40090694,1612624446,2.44070776,0.49805,40091362.0,1.612625e+09,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,612,2,finalizada,2.61,2.62044,0.5,47889736,1615973567,2.65645491,0.49805,47980560.0,1.615999e+09,None,None
172,614,2,venda_criada,2.65,2.6606,0.5,47920181,1615966685,2.7006,0.49805,47960285.0,1.615967e+09,None,None
173,616,2,finalizada,2.61,2.62044,0.5,48068484,1616011075,2.65645491,0.49805,48078460.0,1.616070e+09,None,None
174,618,2,finalizada,2.61,2.62044,0.5,48240188,1616112199,2.65645491,0.49805,48327868.0,1.616132e+09,None,None
175,619,2,venda_criada,2.61,2.62044,0.5,48437692,1616162835,2.66044,0.49805,48459138.0,1.616163e+09,None,None

In [9]:
df_bot_9

,id,bot_id,estado_ordem,v_tag_ordem,valor_compra,qnt_comprada,order_compra_id,time_compra,valor_venda,qnt_vendida,order_venda_id,time_venda,lucro,fee
0,145,9,finalizada,3.34,3.34302,1.0,41291823,1613239798,3.37290053,0.9961,41291986.0,1.613242e+09,None,None
1,146,9,finalizada,3.38,3.39352,1.0,41294030,1613242728,3.42324962,0.9961,41295369.0,1.613257e+09,None,None
2,147,9,finalizada,3.34,3.35336,1.0,41295237,1613242978,3.38321963,0.9961,41296278.0,1.613244e+09,None,None
3,148,9,finalizada,3.34,3.35336,1.0,41301804,1613248229,3.38321963,0.9961,41306686.0,1.613255e+09,None,None
4,149,9,finalizada,3.3,3.3132,1.0,41307895,1613274527,3.3431796400000002,0.9961,41360847.0,1.613276e+09,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,661,9,finalizada,2.82,2.83128,1.0,48840405,1616330469,2.86269976,0.9961,48846312.0,1.616332e+09,None,None
260,663,9,finalizada,2.82,2.83023,1.0,48849436,1616332195,2.8616429,0.9961,48850835.0,1.616333e+09,None,None
261,665,9,finalizada,2.82,2.83128,1.0,48852361,1616335157,2.86269976,0.9961,48855978.0,1.616355e+09,None,None
262,667,9,compra_criada,3.14,3.15256,1.0,50530205,1617019961,3.19256,1.0,NaN,NaN,None,None
263,668,9,venda_criada,3.18,3.18218,1.0,50530441,1617024323,3.22218,0.9961,50542728.0,1.617025e+09,None,None

In [10]:
def get_lucro(df):
    r_estado = df["estado_ordem"] =="finalizada"
    df_lucro = df[r_estado]
    df_lucro["valor_venda"] = df_lucro["valor_venda"].astype(float)
    df_lucro["qnt_vendida"] = df_lucro["qnt_vendida"].astype(float)
    df_lucro["valor_compra"] = df_lucro["valor_compra"].astype(float)
    df_lucro["qnt_comprada"] = df_lucro["qnt_comprada"].astype(float)
    def map_lucro(x):
        lucro = x["valor_venda"]* x["qnt_vendida"] - x["valor_compra"] * x["qnt_comprada"]
        return lucro

    if not df_lucro.empty:
        df_lucro["lucro"] = df_lucro.apply(map_lucro, axis =1 )
        lucro_total = sum(df_lucro["lucro"])
        print(f'O bot {df_lucro["bot_id"].iloc[0]} deu um lucro de {lucro_total}')
    return df_lucro, lucro_total

In [11]:
df_lucro_b1, lucro_1 = get_lucro(df_bot_1)
df_lucro_b2, lucro_2 = get_lucro(df_bot_2)
df_lucro_b9, lucro_9 = get_lucro(df_bot_9)

print(lucro_1 + lucro_2 + lucro_9)

O bot 1 deu um lucro de 3.9653269639814948
O bot 2 deu um lucro de 2.380542299526501
O bot 9 deu um lucro de 5.180588424220977
11.526457687728973

<ipython-input-10-63660e8e1ccb>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lucro["valor_venda"] = df_lucro["valor_venda"].astype(float)
<ipython-input-10-63660e8e1ccb>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lucro["qnt_vendida"] = df_lucro["qnt_vendida"].astype(float)
<ipython-input-10-63660e8e1ccb>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lucro["valor_compra"] = df_lucro["valor_compra"].astype(float)
<ipython-input-10-63660e8e1ccb>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lucro["qnt_comprada"] = df_lucro["qnt_comprada"].astype(float)
<ipython-input-10-63660e8e1ccb>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lucro["lucro"] = df_lucro.apply(map_lucro, axis =1 )

In [12]:
df_lucro_b9

,id,bot_id,estado_ordem,v_tag_ordem,valor_compra,qnt_comprada,order_compra_id,time_compra,valor_venda,qnt_vendida,order_venda_id,time_venda,lucro,fee
0,145,9,finalizada,3.34,3.34302,1.0,41291823,1613239798,3.372901,0.9961,41291986.0,1.613242e+09,0.016726,None
1,146,9,finalizada,3.38,3.39352,1.0,41294030,1613242728,3.423250,0.9961,41295369.0,1.613257e+09,0.016379,None
2,147,9,finalizada,3.34,3.35336,1.0,41295237,1613242978,3.383220,0.9961,41296278.0,1.613244e+09,0.016665,None
3,148,9,finalizada,3.34,3.35336,1.0,41301804,1613248229,3.383220,0.9961,41306686.0,1.613255e+09,0.016665,None
4,149,9,finalizada,3.3,3.31320,1.0,41307895,1613274527,3.343180,0.9961,41360847.0,1.613276e+09,0.016941,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,658,9,finalizada,2.86,2.87144,1.0,48833797,1616322677,2.902730,0.9961,48834284.0,1.616355e+09,0.019969,None
258,660,9,finalizada,2.78,2.79112,1.0,48839612,1616346998,2.822650,0.9961,48876091.0,1.616354e+09,0.020521,None
259,661,9,finalizada,2.82,2.83128,1.0,48840405,1616330469,2.862700,0.9961,48846312.0,1.616332e+09,0.020255,None
260,663,9,finalizada,2.82,2.83023,1.0,48849436,1616332195,2.861643,0.9961,48850835.0,1.616333e+09,0.020252,None
261,665,9,finalizada,2.82,2.83128,1.0,48852361,1616335157,2.862700,0.9961,48855978.0,1.616355e+09,0.020255,None

In [13]:
def get_dinheiro_empenhado(df):
    r_estado = (df["estado_ordem"] == "compra_aberta") | (df["estado_ordem"] == "compra_criada") |  (df["estado_ordem"] == "compra_executada")
    df_dinheiro_empenhado = df[r_estado]
    def map_dinheiro_alocado(x):
        return  float(x["valor_compra"]) * float(x["qnt_comprada"])
    som_dinheiro_empenhado = 0
    if not df_dinheiro_empenhado.empty:
        df_dinheiro_empenhado["dinheiro_alocado"] = df_dinheiro_empenhado.apply(map_dinheiro_alocado, axis =1 )
        som_dinheiro_empenhado= sum(df_dinheiro_empenhado["dinheiro_alocado"])
    return df_dinheiro_empenhado, som_dinheiro_empenhado

In [14]:
de_1, sde_1 = get_dinheiro_empenhado(df_bot_1)
de_2, sde_2 = get_dinheiro_empenhado(df_bot_2)

<ipython-input-13-85659c072395>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dinheiro_empenhado["dinheiro_alocado"] = df_dinheiro_empenhado.apply(map_dinheiro_alocado, axis =1 )

In [15]:
# df_lucro.head()

In [16]:
def coin_empenhada(df):
    r_estado_venda = (df["estado_ordem"] == "venda_aberta") | (df["estado_ordem"] == "venda_criada") |  (df["estado_ordem"] == "venda_executada")

    df_coin_empenhada = df[r_estado_venda]
    
    def map_dinheiro_alocado(x):
        return float(x["qnt_comprada"])
    
    qnt_moeda_empenhada = 0
    if not df_coin_empenhada.empty:
        df_coin_empenhada["moeda_alocada"] = df_coin_empenhada.apply(map_dinheiro_alocado, axis =1 )
        qnt_moeda_empenhada = sum(df_coin_empenhada["moeda_alocada"])
        
    return df_coin_empenhada, qnt_moeda_empenhada

In [17]:
dce_1, qme_1= coin_empenhada(df_bot_1) # * ultimo_valor_negociado
dce_1, qme_2=  coin_empenhada(df_bot_2) # *ultimo_valor_negociado

<ipython-input-16-2726b42cdad6>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coin_empenhada["moeda_alocada"] = df_coin_empenhada.apply(map_dinheiro_alocado, axis =1 )

In [18]:
qme_2

1.0

In [19]:
# df_dinheiro_empenhado.head()

In [20]:
# df_dinheiro_empenhado["order_venda_id"].dropna().astype('int')

In [21]:
dinheir_bot_1 = ls_bot[ls_bot["id"]==1]["qnt_brl_atual"].iloc[0] + lucro_1  + qme_1* ultimo_valor_negociado
dinheir_bot_2 = ls_bot[ls_bot["id"]==2]["qnt_brl_atual"].iloc[0] + lucro_2  + qme_2* ultimo_valor_negociado

In [22]:
print(dinheir_bot_1, dinheir_bot_2)

28.60205392796302 25.320804599052902

In [23]:
sde_1
sde_2

6.12942

In [24]:
def get_lucro(valor_entrada, valor_saida, qnt_desejada, taxa = 0.3):
    valor_pago = valor_entrada * qnt_desejada
    qnt_comprada_taxada = qnt_desejada * (1 - taxa/100) 
#     print(valor_pago,qnt_comprada_taxada)
    valor_saida = qnt_comprada_taxada * valor_saida
    valor_saida_taxada =  valor_saida  * (1 - taxa/100)
    lucro_pos_taxas = valor_saida_taxada - valor_pago
    return valor_pago, valor_saida_taxada, lucro_pos_taxas

In [25]:
get_lucro(3.33, 3.37, 3.2, taxa = 0.075)

(10.656, 10.767830066, 0.11183006599999956)

In [26]:
qnt_moeda = 0.5
saida = get_lucro(2.38, 2.42, qnt_moeda)[2] #+ get_lucro(2.38, 2.41, qnt_moeda)[2] + get_lucro(2.38, 2.41, qnt_moeda)[2]+ get_lucro(2.38, 2.41, qnt_moeda)[2] 
saida

0.01275088999999996

In [27]:
get_lucro(2.38, 2.44, qnt_moeda)[2] #+get_lucro(2.38, 2.44, qnt_moeda)[2]

0.022690979999999916

In [28]:
# def map_dinheiro_alocado(x):
#     return  float(x["valor_compra"]) * float(x["qnt_comprada"])

# def map_moeda(x):
#     pass

# if not df_dinheiro_empenhado.empty:
#     df_dinheiro_empenhado["dinheiro_alocado"] = df_dinheiro_empenhado.apply(map_dinheiro_alocado, axis =1 )
# def map_pot_lucro(x):
#     c = float(x["valor_compra"]) * float(x["qnt_comprada"])
#     v = float(x["valor_venda"]) * float(x["qnt_vendida"])
#     return v - c
# if not df_dinheiro_empenhado.empty:
#     df_dinheiro_empenhado["pot_lucro"] = df_dinheiro_empenhado.apply(map_pot_lucro, axis =1 )
#     qnt_total = 20
#     valor_alocado= sum(df_dinheiro_empenhado["dinheiro_alocado"])
#     por_alocada = valor_alocado/qnt_total * 100
#     qnt_lucro_possivel = sum(df_dinheiro_empenhado["pot_lucro"])
#     print(f"Esta alocado:{round(por_alocada,2)}%, {round(valor_alocado,3)}; e pode ganhar: {round(qnt_lucro_possivel,5)} reais")